@page "/login"
@using RecipeManager.ApplicationCore.Models
@using WebClient.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h1>Login</h1>

@if (showErrors)
{
    <div class="alert alert-danger" role="alert">
        <p>@error</p>
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="@loginModel" OnValidSubmit="@HandleLogin">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="username">Username</label>
                <InputText Id="username" Class="form-control" @bind-Value="@loginModel.UserName" />
                <ValidationMessage For="@(() => loginModel.UserName)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" Class="form-control" @bind-Value="@loginModel.Password" Type="Password" />
                <ValidationMessage For="@(() => loginModel.Password)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private readonly LoginModel loginModel = new LoginModel();
    
    private bool showErrors;
    
    private string error = "";

    private async Task HandleLogin()
    {
        showErrors = false;

        var result = await AuthService.Login(loginModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/recipe-manager");
        }
        else
        {
            error = result.Error;
            showErrors = true;
        }
    }

}