@page "/recipes"
@using System.Collections.Specialized
@using System.Web
@using RecipeManager.ApplicationCore.Resources
@using WebClient.Models
@inject HttpClient Http
@inject ServerConfig ServerConfig

<h1>Recipes</h1>


Search recipes by the ingredients they contain.

<p>@StatusMessage</p>

<MainSearch OnSearch="@OnSearch" />

@if (Results != null)
{
    foreach (var recipe in Results.Value)
    {
        <MatCard Style="margin: 8px; padding: 8px;" Stroke="true">
            <h1>@recipe.Title</h1>
            <MatTable Items="@recipe.Ingredients">
                <MatTableHeader>
                    <th>Name</th>
                    <th>Quantity</th>
                    <th>Units</th>
                </MatTableHeader>
                <MatTableRow>
                    <td>@context.Name</td>
                    <td>@context.Quantity</td>
                    <td>@context.Units</td>
                </MatTableRow>
            </MatTable>
        </MatCard>
    }
}

@code
{

Collection<RecipeResource> Results { get; set; }

private string StatusMessage { get; set; } = "Status Message";

private void OnSearch(string searchText)
{
    this.LoadDataAsync(searchText).ConfigureAwait(false);
}

private async Task LoadDataAsync(string searchText)
{
    var queryParameters = new NameValueCollection();
    if (!string.IsNullOrWhiteSpace(searchText))
    {
        queryParameters["search"] = $"ingredients co {searchText}";
    }

    var uri = ServerConfig.UrlTo("recipes", queryParameters);

    this.StatusMessage = $"Uri: {uri}";
    this.Results = null;
    this.StateHasChanged();
    this.Results = await Http.GetJsonAsync<PagedCollection<RecipeResource>>(uri);
    this.StateHasChanged();
}
}
