@page "/register"
@using RecipeManager.ApplicationCore.Models
@using WebClient.Services
@inject IAuthService AuthService
@inject NavigationManager NavigationManager

<h1>Register</h1>

@if (showErrors)
{
    <div class="alert alert-danger" role="alert">
        @foreach (var error in errors)
        {
            <p>@error</p>
        }
    </div>
}

<div class="card">
    <div class="card-body">
        <h5 class="card-title">Please enter your details</h5>
        <EditForm Model="@registerModel" OnValidSubmit="@HandleRegistration">
            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="username">Username</label>
                <InputText Id="username" Class="form-control" @bind-Value="@registerModel.UserName" />
                <ValidationMessage For="@(() => registerModel.UserName)" />
            </div>
            <div class="form-group">
                <label for="email">Email address</label>
                <InputText Id="email" Class="form-control" @bind-Value="@registerModel.Email" />
                <ValidationMessage For="@(() => registerModel.Email)" />
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <InputText Id="password" Class="form-control" @bind-Value="@registerModel.Password" Type="Password" />
                <ValidationMessage For="@(() => registerModel.Password)" />
            </div>
            <div class="form-group">
                <label for="password-confirm">Confirm Password</label>
                <InputText Id="password-confirm" Class="form-control" @bind-Value="@registerModel.ConfirmPassword" Type="Password" />
                <ValidationMessage For="@(() => registerModel.ConfirmPassword)" />
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

@code {

    private readonly RegisterModel registerModel = new RegisterModel();
    
    private bool showErrors;
    
    private IEnumerable<string> errors;

    private async Task HandleRegistration()
    {
        showErrors = false;

        var result = await AuthService.Register(registerModel);

        if (result.Successful)
        {
            NavigationManager.NavigateTo("/recipe-manager/login");
        }
        else
        {
            errors = result.Errors;
            showErrors = true;
        }
    }

}